body{
    background-image: url(images/muscat4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.nav  {
    background-color:rgb(222, 211, 169);
    overflow: hidden;
}
.nav a {
    color: yellow;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}
.nav a:hover {
    background-color: transparent;
    color: black;
}
.h1{
    font-size: larger;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration-line: underline;
}
.p1{
    text-align: left;
    font-weight: bold;
    color: black;
}
.ul1{
    font-size: xx-large;
    font-weight: bolder;
    color: beige;

}