body{
    background-image: url("images/plane.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.h2{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    text-decoration: underline;
}
.p1{
    text-align: left;
    font-weight: bold;
    color:black ;
}
nav{
    padding: 2rem;
    background-color: rgb(236, 226, 226);
    text-align: left;

}
.nav{
    background-color: rgb(244, 183, 108);
    text-align: left;
    overflow: hidden;

}
nav a{
    padding: 14px 14px ;
    color: #f5f3ef;
    font-weight: 500;
    transition: background-color 0.2s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    float: left;
    text-decoration: none;
    border-radius: 15 px;



}
.nav a:hover{
    background-color: transparent;
    color: white;
    text-decoration: underline;
}